.login{
    height: 100vh;
    background-color: #E35869;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        width: 50%;
        height: 28.5rem;
        border-radius: 0.625rem;
        background-color: white;
        overflow: hidden;

        .left{
            flex: 1;
            background:linear-gradient(to right, rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5))
            , url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=600') center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            padding: 50px;
            gap: 20px;
            color: white;
            h1{
                font-size: 55px;
                line-height: 55px;
                margin: 0;
            }
            p{
                margin: 0;
            }
            span{
                font-size: 13px;
            }
            button{
                width: 50%;
                background-color: #E35869;
                color: white;
                font-weight: 700;
                padding: 10px;
                border: none;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 25px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }

                button{
                    width: 50%;
                    background-color: #E35869;
                    color: white;
                    font-weight: 700;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    transition: background-color 0.3s ease-in-out;
                }
                button:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
                  }
                  
                button:active {
                    transform: translateY(1px);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                  }
            }
        }
    }
}